.main{
    text-align: center;
}
.hero-pic{
    height: 100%;
    width:100%;
    float: right;

}
.first-row{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(2,2fr);
    background-color: aqua;
 text-align: center;
 margin:0 15%;
}
.first-row p{
    text-align: left;
    margin-left: 10px;
}
.services{
    display: grid;
    gap: 10px;
    grid-template-columns:repeat(2,10fr);
  
    margin:0 15%;
    border: 1px;  
}
.services  div{
    border: 1px solid rgb(177, 178, 218);
    margin: 10px ;
}
.icons{
    justify-content: end;
    width: 50px;
    height: 50px;
}
@media only screen and (max-width: 768px) {
    .first-row,.services{
        grid-template-columns: repeat(1,5fr);
    }
    
}