.singimg{
    height: 500px;
    padding-top: 5px;
    width: 200px;
    
}
.star-rate{
    display: flex;
    margin-right: 5px;
}
.singrate{
    margin: 0;
    padding-right: 10px;
}
.singprice-box{

padding: 1px;
width: 80px;

margin-left: 5px;

}
.singsign{
    margin-top: 25px;
    height: 12px;
}
.arrow{
    height: 50px;
    margin: 10px;
}